@model BO.Arme
@{
    ViewBag.Title = "Suppression armes";
    var test = ViewData.ModelState.Values.Select(x => x.Errors).Count();
}

@if (ViewData.ModelState.Values.Select(x => x.Errors).Count() > 1)
{
    @Html.ValidationSummary()
}
else
{
    <h2>Suppression</h2>
    <h3>Etes vous sur de vouloir supprimer cette arme ?</h3>
    <div>
        @Html.Partial("_Arme", Model)
        <br />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Supprimer" class="btn btn-default" />
            </div>
        }
    </div>
    <br />
}
    <div>
        @Html.ActionLink("Retour à la liste", "Index", null, new { @class = "btn btn-default" })
    </div>