@model BO.ArtMartial

@{
    ViewBag.Title = "Suppression art martiaux";
}

<h2>Supression d'un art martial</h2>

<h3>Voulez vous supprimer cette art martial ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" /> 
        </div>
    }
</div>
<br />
<div>
    @Html.ActionLink("Retour à la liste", "Index", null, new { @class = "btn btn-default" })
</div>